@model test.Models.Link

<div>
    <h4>A shortened link for this URL is already in the system</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Click)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Click)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
