@model IEnumerable<test.Models.Link>

@foreach (Link link in Model)
{
    <div class="text-left">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @link.Name
            </dt>
            <dd class="col-sm-10">
            </dd>
            <dt class="col-sm-2">
                @link.Description
            </dt>
            <dd class="col-sm-10">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LongURL)
            </dt>
            <dd class="col-sm-10">
                @link.LongURL
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShortURL)
            </dt>
            <dd class="col-sm-10">
                @link.ShortURL
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @link.Date
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Click)
            </dt>
            <dd class="col-sm-10">
                @link.Click
            </dd>
        </dl>
    </div>
    <div>
        <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@link.Id">
            <input type="submit" value="Удалить" />
        </form> |
        <a asp-action="Edit" asp-controller="Home" asp-route-id="@link.Id">Изменить</a>
    </div>
}

